<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{contentBlog.project_name}} - Alif Dewantara</title>
    <link rel="icon" type="image" href="/images/favicon-32x32.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="logo-img" width="40" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-3">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item me-3">
              <a class="nav-link" href="/form-blog">Add Project</a>
            </li>
            <!-- <li class="nav-item me-3">
                <a class="nav-link" href="#">My Testimonial</a>
              </li> -->
          </ul>
          <!-- <button type="button" class="btn btn-warning">Contact Me</button> -->
          <a class="btn btn-warning" href="/contact">Contact Me</a>
        </div>
      </div>
    </nav>
    <!-- End Nav -->
    <main class="mt-4">
      <section class="content container">
        <h1 class="fw-bold text-center">{{contentBlog.project_name}}</h1>
        <div class="row my-4 p-2 bg-danger-subtle">
          <img src="/images/{{contentBlog.input_img}}" class="col-12 col-lg-6 img-fluid object-fit-cover" alt="thumb-img" style="height: 375px;">
          <div class="col-12 col-lg-6 banner-desc">
            <h2>Duration</h2>
            <p>
              <i class="fa-regular fa-calendar-days"></i>
              {{contentBlog.start_date}}
              -
              {{contentBlog.end_date}}
            </p>
            <p><i class="fa-solid fa-clock"></i> 2 months</p>
            <h2>Technologies</h2>
            <div class="techstack mb-3">
              {{contentBlog.technologies}}
            </div>
            <h2>Author</h2>
            <p>{{contentBlog.name}}</p>
            <h2>Published</h2>
            <p>{{contentBlog.createdAt}}</p>
          </div>
        </div>
        <div class="blog-content">
          {{contentBlog.description}}
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
        const techStacks = document.querySelectorAll('.techstack');

        techStacks.forEach(stack => {
            const newText = stack.textContent.replace(/nodejs/g, '<i class="fa-brands fa-node-js fs-5 me-2"></i> NodeJS')
                                           .replace(/reactjs/g, '<i class="fa-brands fa-react fs-5 me-2"></i> ReactJS')
                                           .replace(/vuejs/g, '<i class="fa-brands fa-vuejs fs-5 me-2"></i> VueJS')
                                           .replace(/javascript/g, '<i class="fa-brands fa-js fs-5 me-2"></i> JavaScript')
                                           .replace(/,/g, '\n');;
            stack.innerHTML = newText;
        });
    </script>
  </body>
</html>