<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Home - Alif Dewantara
    </title>
    <link rel="icon" type="image" href="images/favicon-32x32.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-dark">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" alt="logo-img" width="40" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-3">
              <a class="nav-link active" aria-current="page" href="#">
                Home
              </a>
            </li>
            {{#if isLogin}}
            <li class="nav-item me-3">
              <a class="nav-link" href="/form-blog">
                Add Project
              </a>
            </li>
            {{/if}}
            <!-- <li class="nav-item me-3">
              <a class="nav-link" href="#">My Testimonial</a>
            </li> -->
          </ul>
          <!-- <button type="button" class="btn btn-warning">Contact Me</button> -->
          {{#if isLogin}}
          <a class="nav-link text-warning me-3" href="#">Hello, {{user}}</a>
          <a class="nav-link me-3" href="/logout">Log out</a>
          {{else}}
          <a class="nav-link me-3" href="/register">Register</a>
          <a class="nav-link me-3" href="/login">Log In</a>
          {{/if}}
          <a class="btn btn-warning" href="/contact">
            Contact Me
          </a>
        </div>
      </div>
    </nav>
    <!-- End Nav -->
    {{#if messages.success}}
    <div class="alert alert-success" role="alert">
      {{messages.success}} Welcome, {{user}}!
    </div>
    {{/if}}
    <main>
      <!-- Introduction -->
      <section class="container">
        <div class="card my-5 p-2">
          <div class="card-body row row-cols-1 row-cols-md-2 g-4">
            <div class="col-md-8">
              <h1>
                Hi! Welcome to my hut
              </h1>
              <p style="text-align: justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                efficitur, massa ut finibus finibus, est erat egestas ligula, ac
                pulvinar arcu mauris eget arcu. Vestibulum tempus nec eros eget
                condimentum. Nam euismod condimentum nisi, non vehicula justo
                rutrum at. Vivamus et quam ac diam eleifend semper. Donec
                tincidunt urna massa, eu faucibus est facilisis nec. Mauris sit
                amet cursus urna. Cras nec interdum eros. Cras leo ex, iaculis
                eget dolor non, fermentum elementum lorem. Quisque tincidunt
                vestibulum lacus, id ornare massa fringilla non.
              </p>
              <div class="contact my-3">
                <a class="btn btn-warning" href="/contact">
                  Contact
                </a>
                <a
                  class="btn btn-dark"
                  href="files/Alif-Analyst-Resume (1).pdf"
                >
                  Download CV
                  <i class="fa-solid fa-download"></i>
                </a>
              </div>
              <div class="fs-2">
                <a class="text-black" href="https://linkedin.com/alifdwt">
                  <i class="fa-brands fa-linkedin"></i>
                </a>
                <a class="text-black" href="https://instagram.com/alifdwt">
                  <i class="fa-brands fa-square-instagram"></i>
                </a>
                <a
                  class="text-black"
                  href="https://facebook.com/aputradewantara"
                >
                  <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a class="text-black" href="https://twitter.com/alifdwt">
                  <i class="fa-brands fa-square-twitter"></i>
                </a>
              </div>
            </div>
            <div class="col-12 col-md-4 text-center card p-0 shadow">
              <img
                class="img-fluid"
                src="images/IMG_20220314_150124-min.jpg"
                alt="profil"
              />
              <h2>
                Alif Dewantara
              </h2>
              <p>
                FullStack Developer
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End Introduction -->

      <!-- Project -->
      <section class="project bg-white pt-5">
        <h1 class="text-center">
          MY PROJECT
        </h1>
        {{#if isLogin}}
        <p class="text-center">
          <a href="/form-blog" class="btn btn-warning">
            Add Project
          </a>
        </p>
        {{/if}}
        {{!-- <div class="d-flex flex-wrap-reverse flex-row-reverse justify-content-center gap-2"> --}}
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 d-flex flex-wrap-reverse flex-row-reverse justify-content-center g-4 p-3">
          {{#each contentBlog}}
            <div class="col">
              <div class="card h-100">
                <img
                  src="{{#if input_img}}{{this.input_img}}{{else}}images/Placeholder_view_vector.svg.png{{/if}}"
                  class="card-img-top img-thumbnail img-fluid object-fit-cover"
                  alt="thumb-img"
                  style="height: 300px"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a
                      class="text-decoration-none"
                      href="/blog-content/{{this.id}}"
                    >
                      {{this.project_name}}
                    </a>
                  </h5>
                  <span class="text-body-tertiary">
                    Author:
                    {{this.author_name}}
                    |
                    Durasi: {{this.durasi}}
                  </span>
                  <p class="card-text overflow-hidden" style="height: 15vh;">
                    {{this.description}}
                  </p>
                  <div class="techstack">
                    {{this.technologies}}
                  </div>
                </div>
                <div
                  class="card-footer d-flex justify-content-between align-items-center"
                >
                  <small class="text-body-secondary">
                    {{this.updatedAt}}
                  </small>
                  {{#if this.isLogin}}
                  <div>
                    <a class="btn btn-warning" href="/edit-blog/{{this.id}}">
                      Edit
                    </a>
                    <a class="btn btn-warning" href="/delete-blog/{{this.id}}">
                      Delete
                    </a>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </section>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script>
        const techStacks = document.querySelectorAll('.techstack');

        techStacks.forEach(stack => {
            const newText = stack.textContent.replace(/nodejs/g, '<i class="fa-brands fa-node-js fs-4 me-2"></i>')
                                           .replace(/reactjs/g, '<i class="fa-brands fa-react fs-4 me-2"></i>')
                                           .replace(/vuejs/g, '<i class="fa-brands fa-vuejs fs-4 me-2"></i>')
                                           .replace(/javascript/g, '<i class="fa-brands fa-js fs-4 me-2"></i>')
                                           .replace(/,/g, '');;
            stack.innerHTML = newText;
        });
    </script>
  </body>
</html>